<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>你最喜欢的课程</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/loading1.css">
<script src="__PUBLIC__/js/jquery-1.5.1.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.raty.js" type="text/javascript"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<style>
.class-name{
	font-size:1.2em;
	font-weight:600;
  display: none;
}
body{
	margin:0px;
	font: "等线" normal 100%;
	color:#4F4F4F;
	letter-spacing:1px;
	background-color:rgb(238,238,238);
	text-align:center;	
}
header{
	padding:4%;
	text-align:center;
	font-size:1.2em;
	font-weight:300;
	background-color:#43ce80;
	letter-spacing:1px;
	color:rgba(255,255,255,1.00);
}
#arrow{
  background: url(__PUBLIC__/images/icon_back.png) 0 0 no-repeat;
  background-size: contain;
  height: 80%;
  width: 6%;
  margin-left: 10px;
  float: left;
  display: inline-block;
}
.btn{
	background-color:#43ce80;
	border-radius:20px;
	color:#FFF;
	padding:2%;
	padding-left:5%;
	padding-right:5%;
	margin:5%;
}
.media{
	margin-top:3%;
	margin-left:4%;
	margin-right:4%;
	padding:3%;
	padding-top:3%;
	text-align:left;
	background-color:#FFF;
	border-bottom:solid thin rgba(184,184,184,1.00);
}
.media-heading{
	font-size:1.1em;
}
.media-body{
	text-align:left;
}
select{
	letter-spacing:1px;
	width:50%;
	text-align:center;
	font:"等线";
	font-weight:lighter;
}
.media>.pull-left{
	margin-right:3%;
  width: 38%;
  display: inline-block;
}
.media>.pull-left>.teacher{
  font-size: 12px;
}
</style>
<body>
<!-- 隐藏一张图片，微信分享时会抓取网页里的第一个图片 -->
  <img hidden src="http://ww2.sinaimg.cn/cmw218/6e5fd4c1jw1ey7bhaokhgj20hs0l8mzj.jpg" alt="">
  <header><span onclick="history.go(-1);" id="arrow">&nbsp;&nbsp;</span>你最喜欢的课</header>
   <!-- <div class="media">
    <span class="pull-left media-object" ><span class="class-name">大学语文</span><br><span>授课教师：林晨</span></span>
    <div class="media-body">
      <span class="media-heading">你的评分</span>&nbsp;<img width="8%" src="img/star_click.png">&nbsp;<img width="8%" src="img/star_click.png">&nbsp;<img width="8%" src="img/star_click.png">&nbsp;<img width="8%" src="img/star_click.png">&nbsp;<img width="8%" src="img/star_click.png"><br>
      <span class="media-heading">实用价值</span>
      <select>
        <option value="1">考研有用</option>
        <option value="2">工作有用</option>
        <option value="3">找对象有用</option>
        <option value="4">没啥用</option></select>
    </div>
  </div> -->
  <div>
  <volist name="course" id="vo">
  <div class="media valuediv" id="{$vo->c_id}">
    <span class="pull-left media-object" >
      <span class="class-name">{$vo->c_name}</span>
      <br>
      <span class="teacher">授课教师：{$vo->t_name}</span>
    </span>
    <div class="media-body">
      <span class="media-heading">总体印象</span>
      <span id="star{$autoi}"></span>
      <span id="result{$autoi++}"></span>
      <br>
      <br>
      <span class="media-heading">实用价值</span>
      <select>
        <option value="0">--请选择</option>
        <option value="1">读研更有用</option>
        <option value="2">工作更有用</option>
        <option value="3">出国更有用</option>
        <option value="4">感觉没啥用</option>
      </select>
    </div>
  </div>
  </volist>
  <input type="hidden" name="token" value="{$token}">
  <!-- <div class="media">
    <span class="pull-left media-object" ><span class="class-name">现代商务文案策划</span><br><span class="teacher">授课教师：关立军</span></span>
    <div class="media-body">
      <span class="media-heading">你的评分</span>
      <span id="star2"></span>
      <span id="result2"></span>
      <br>
      <br>
      <span class="media-heading">实用价值</span>
      <select>
        <option value="1">考研有用</option>
        <option value="2">工作有用</option>
        <option value="3">找对象有用</option>
        <option value="4">没啥用</option></select>
    </div>
  </div>
  <div class="media">
    <span class="pull-left media-object" ><span class="class-name">现代商务文案策划da现代商务文案策划</span><br><span class="teacher">授课教师：林晨</span></span>
    <div class="media-body">
      <span class="media-heading">你的评分</span>
      <span id="star3"></span>
      <span id="result3"></span>
      <br>
      <br>
      <span class="media-heading">实用价值</span>
      <select>
        <option value="1">考研有用</option>
        <option value="2">工作有用</option>
        <option value="3">找对象有用</option>
        <option value="4">没啥用</option></select>
    </div>
  </div>
  <div class="media">
    <span class="pull-left media-object" ><span class="class-name">语文</span><br><span class="teacher">授课教师：林晨</span></span>
    <div class="media-body">
      <span class="media-heading">你的评分</span>
      <span id="star4"></span>
      <span id="result4"></span>
      <br>
      <br>
      <span class="media-heading">实用价值</span>
      <select>
        <option value="1">考研有用</option>
        <option value="2">工作有用</option>
        <option value="3">找对象有用</option>
        <option value="4">没啥用</option></select>
    </div>
  </div>
  <div class="media">
    <span class="pull-left media-object" ><span class="class-name">大学语文语</span><br><span class="teacher">授课教师：林晨</span></span>
    <div class="media-body">
      <span class="media-heading">你的评分</span>
      <span id="star5"></span>
      <span id="result5"></span>
      <br>
      <br>
      <span class="media-heading">实用价值</span>
      <select>
        <option value="1">考研有用</option>
        <option value="2">工作有用</option>
        <option value="3">找对象有用</option>
        <option value="4">没啥用</option></select>
    </div>
  </div> -->
  <div>
    <!-- 提交后回主页mian.html -->
    <button class="btn" style="outline:none;" id="submit">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
    <!-- 再评进入下一页 -->
    <button class="btn" style="outline:none;" id="changecourse">换一组</button>
  </div>
  </div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/loading1.js"></script>
<script type="text/javascript">
var debug=false;

function rat(star,result,m){

  star= '#' + star;
  result= '#' + result;
  $(result).hide();//将结果DIV隐藏

  $(star).raty({
    hints: ['10','20', '30', '40', '50','60', '70', '80', '90', '100'],
    path: "__PUBLIC__/css/img",
    starOff: 'star-off-big.png',
    starOn: 'star-on-big.png',
    size: 12,
    start: 40,
    showHalf: true,
    scoreName: result,
    target: result,
    targetKeep : true,//targetKeep 属性设置为true，用户的选择值才会被保持在目标DIV中，否则只是鼠标悬停时有值，而鼠标离开后这个值就会消失
    click: function (score, evt) {
      //第一种方式：直接取值,在这里获取分值
      //alert('你的评分是'+score*m+'分');
    }
  });

  /*第二种方式可以设置一个隐蔽的HTML元素来保存用户的选择值，然后可以在脚本里面通过jQuery选中这个元素来处理该值。 弹出结果
  var text = $(result).text();
  $('img').click(function () {
    if ($(result).text() != text) {
      alert('你的评分是'+$(result).text()/m+'分');
      alert(result);
      return;
    }
  });*/
}
/**
 * [isphone 判断平台]
 * @param test: 1:iPhone    0:Android
 */
 function isIphone(){
  var u = navigator.userAgent, app = navigator.appVersion;
  try{
    if(/iPhone|mac|iPod|iPad/i.test(navigator.userAgent)){
      return 1;
    }else{
      return 0;
    }
  }catch(e){

  }
 };


var NUM=5;
var widthFactor=isIphone()?0.035:0.03;
window.onload=function(){
  for(var j=1;j<=NUM;j++){
    //调用星星函数，1代表星星的分值
    rat('star'+j,'result'+j,1);
    var parentObj=document.getElementById("star"+j);
    //跳过空白和最后隐藏的input
    for (var i = parentObj.childNodes.length - 2; i >= 0; i-=2) {
      //设置星星的大小
      parentObj.childNodes[i].width=screen.width*widthFactor;    
    };
  } 
}

//动态调整字体大小，因为课程名字长短不一
$(function(){
  var fsize=$(".class-name").css("font-size");
  var spanArr=$(".class-name");
  for (var i = spanArr.length - 1; i >= 0; i--) {
    var len=spanArr[i].innerHTML.length;             //获取str长短
    len=(len<8)?len:7;
    var spanWidth=spanArr[i].parentNode.clientWidth-screen.availWidth*0.05;
    spanArr[i].style.fontSize=spanWidth/len+'px';
    if(len>=5){
      spanArr[i].style.fontWeight="bold";
    }
    spanArr[i].style.display="block";
    if(debug){
      console.log(spanArr[i].parentNode.clientWidth);
      console.log(spanArr[i].innerHTML);
      console.log(spanArr[i].style.fontSize);
      console.log(len);
    }
    
  };
})

var evlue = [];

$("#submit").click(function(){
  $(".valuediv").each(function(index, el) {
    //console.log($(this));
    var packet = {};
    var $self = $(this);
    var id = $self[0].id;
    var score = $self[0].childNodes[3].childNodes[5].innerHTML;
    var comment_type = $self[0].childNodes[3].childNodes[13].value;
    //console.log()
    if (score) {
      packet.id = id;
      packet.score = score;
      packet.type = "1";
      packet.comment_type = comment_type;
      evlue.push(packet);
    }
  });

  loadingAnim.show();
  if (!evlue.length) {
    alert("请至少评价一门课再点提交哦，没有想评价的课可以点再评一会换一组课");
    loadingAnim.hide();
    return;
  }


  //console.log(JSON.stringify(evlue));
  $.post(
      "{:U('Main/evluecourse')}"
    , 
    {
      evlue : JSON.stringify(evlue),
      token : $("input[name='token']").val()
    }
    , 
      function (data){
        if (data.status == "fail") {
          alert("评价失败请稍候再试");
          loadingAnim.hide();
        } else if (data.status == "success") {
          var r;
          if (data.teacher)
            r = confirm("评论成功！点击确定评价老师，点击取消返回留下宝贵意见并抽奖");
          else
            r = confirm("评论成功！点击确定留下宝贵意见并抽奖，点击取消返回主菜单");
          if (r == true)
          {
            if (data.teacher)
              window.location.href = "{:U('Main/teacher')}";
            else
              window.location.href = "{:U('Common/advise')}";
          }
          else
          {
            if (data.teacher)
              window.location.href = "{:U('Common/advise')}";
            else
              window.location.href = "{:U('Main/main')}";
          }
        } else if (data.status == "overlap") {
          alert("已经提交过表单了");
          window.location.reload();
        }
      }
    )
  evlue = [];
})

$("#changecourse").click(function() {
  $(".valuediv").each(function(index, el) {
    //console.log($(this));
    var packet = {};
    var $self = $(this);
    var id = $self[0].id;
    var score = $self[0].childNodes[3].childNodes[5].innerHTML;
    var comment_type = $self[0].childNodes[3].childNodes[13].value;
    //console.log()
    if (score) {
      packet.id = id;
      packet.score = score;
      packet.type = "1";
      packet.comment_type = comment_type;
      evlue.push(packet);
    }
  });
  loadingAnim.show();
  if (!evlue.length) {
    window.location.href = "{:U('Main/class')}";
    return;
  }
  $.post(
    "{:U('Main/evluecourse')}",
    {
      evlue : JSON.stringify(evlue),
      token : $("input[name='token']").val()
    }, 
    function (data){
        if (data.status == "fail") {
          alert("评价失败请稍候再试");
          loadingAnim.hide();
        } else if (data.status == "success") {
          window.location.href = "{:U('Main/class')}";
          alert("评价成功！已切换至另一组");
        } else if (data.status == "overlap") {
          alert("已经提交过表单了");
          window.location.reload();
        }
      }
    )

})

wx.config({
    debug: false,
    appId: '{$signPackage.appId}',
    timestamp: {$signPackage.timestamp},
    nonceStr: '{$signPackage.nonceStr}',
    signature: '{$signPackage.signature}',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      'checkJsApi',
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      'hideMenuItems',
      'showMenuItems',
      'hideAllNonBaseMenuItem',
      'showAllNonBaseMenuItem',
      'translateVoice',
      'startRecord',
      'stopRecord',
      'onRecordEnd',
      'playVoice',
      'pauseVoice',
      'stopVoice',
      'uploadVoice',
      'downloadVoice',
      'chooseImage',
      'previewImage',
      'uploadImage',
      'downloadImage',
      'getNetworkType',
      'openLocation',
      'getLocation',
      'hideOptionMenu',
      'showOptionMenu',
      'closeWindow',
      'scanQRCode',
      'chooseWXPay',
      'openProductSpecificView',
      'addCard',
      'chooseCard',
      'openCard'
      ]
    });
var shareData = {
      title: '南开时“课”（测试版）', // 分享标题
      desc: '南开时“课”（测试版）', // 分享描述
      link: window.location.href, // 分享链接
      imgUrl: 'http://ww2.sinaimg.cn/cmw218/6e5fd4c1jw1ey7bhaokhgj20hs0l8mzj.jpg', // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () { 
          // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
          // 用户取消分享后执行的回调函数
      }
};
wx.ready(function () {
    // 在这里调用 API
    wx.onMenuShareTimeline(shareData);
    wx.onMenuShareAppMessage(shareData);
    wx.onMenuShareQQ(shareData);
    wx.onMenuShareWeibo(shareData);
    wx.onMenuShareQZone(shareData);
  });

</script>

</html>
